.header{
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
  }
  
  .logo{
    background-image: url(../image/logo.png);
    float: left;
    height: 97px;
    width: 406px;
  }
  
  .logo a{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    line-height: 100em;
  }
  
  /* 设置上导航栏的样式 */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* 设置 topnav 链接的样式 */
  .topnav a {
    box-sizing: border-box;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* 改变鼠标悬停时的颜色 */
  .topnav a:hover {/*:hover伪类*/
    background-color: #ddd;
    color: black;
  }
  
  body{
    background-image: url(../image/海报.png);
    background-size: cover; 
    background-repeat:no-repeat;
  }

  body h1{
    font-size: 70px;
    text-align: center;
    text-shadow: black;
    height: 100px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }

  body h2{
    font-size: 60px;
    text-align: center;
    text-shadow: black;
    height: 100px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  body p{
    line-height: 24px;
    text-indent: 2em;
    display: block;
    font-size: large;
    margin-left: 20em;
    margin-right: 10em;
  }

  ul {
    list-style-type: none; /* 移除列表项的默认样式 */
    margin-bottom: 10px;
    padding: 0;
    overflow: hidden; /* 创建一个包含浮动元素的块级格式上下文 */
    background-color: aqua; /* 设置导航栏的背景颜色 */
    display: flex;
  }
  
  li {
      flex: 1;
    float: left; /* 将列表项横向排列 */
  }
  
  li a {
    display: block;
    color: rgb(10, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #ddd;
    color: black;
  }

  footer{
    margin-top: 20px;
    font-size: 40px;
  }